{% extends 'layouts/page.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
{% set cphError = null %}
{% if errorMessage %}
  {% set cphError = { text: errorMessage } %}
{% endif %}
<form method="post" novalidate="novalidate" action="/">
<input type="hidden" name="crumb" value="{{ crumb }}">
{{ govukInput({
  label: {
    text: "Enter a CPHNumber",
    classes: "govuk-label--l"    
  },
  id :"cNumber",  
  name:"cNumber",
  value: cNumber,
  classes: "govuk-input--width-10",
  errorMessage: cphError
}) }}{{ govukButton({
  text: "Search for CPH" 
}) }}
</form>

{% endblock %}




